@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Racing+Sans+One&display=swap");
:root {
  /* Colors */
  --background-color: #030a1d;
  --text-color: #fff;
  --level-title-color: #7bd0ff;
}

body {
  background: var(--background-color);
  font-family: "Nunito", sans-serif;
  position: relative;
}
body.menu-active {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 72vw;
  width: 100%;
}
.page__background {
  width: 100%;
  height: 100%;
}
.page__background img {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.page__title {
  color: var(--text-color);
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 9vw;
  padding-bottom: 66px;
}
.page__game-levels {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  padding: 0 50px 135px;
}

.page__tariffs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 30px;
  width: 100%;
  padding: 0 50px 135px;
}

@media (max-width: 1199px) {
  .page__title {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .page__tariffs {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

@media (max-width: 767px) {
  .page__title {
    font-size: 30px;
  }
  .page__game-levels {
    padding: 0 20px 85px;
  }
  .page__tariffs {
    padding: 0 20px 85px;
  }
}

@media (max-width: 575px) {
  .page__title {
    font-size: 20px;
  }
  .page__game-levels {
    gap: 50px;
    padding: 0 10px 40px;
  }
  .page__tariffs {
    padding: 0 10px 40px;
  }
}
